<% if logged_in? %>
<div>
  <h2>Ranking</h2>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Compatability Score</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.rank_hash.each do |user, score| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to "#{user.username}", user %></td>
          <td><%= score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>Welcome to Comparify!</h1>
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
