<% if logged_in? %>
<div>
  <h3>Ranking</h3>
  <ul>
    <% current_user.rank_hash.each do |name, score| %>
      <li><%= "#{name} - #{score}" %></li>
    <% end %>
  </ul>
</div>
<% else %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>Welcome to Comparify!</h1>
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
